# [dbo].[CT_HoaDon]

In [0]:
USE [QuanLyKhachSan]
GO

In [0]:
/****** Object:  Table [dbo].[CT_HoaDon]    Script Date: 3/12/2024 2:25:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HoaDon](
	[IDCT_HD] [int] IDENTITY(1,1) NOT NULL,
	[IDHoaDon] [int] NOT NULL,
	[IDPhong] [int] NOT NULL,
	[DonGia] [nchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_CT_HoaDon] PRIMARY KEY CLUSTERED 
(
	[IDCT_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[HoaDon]

In [0]:
/****** Object:  Table [dbo].[HoaDon]    Script Date: 3/12/2024 2:25:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[IDHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[IDKhachHang] [int] NOT NULL,
	[IDNhanVien] [int] NOT NULL,
	[GiaTien] [int] NOT NULL,
	[PhuThu] [int] NOT NULL,
	[GiamGia] [int] NOT NULL,
	[ThueVAT] [nchar](10) NULL,
	[NgayVao] [datetime] NOT NULL,
	[NgayRa] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[TongTien] [int] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[SoNguoi] [int] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[IDHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[KhachHang]

In [0]:
/****** Object:  Table [dbo].[KhachHang]    Script Date: 3/12/2024 2:25:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[IDKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTenKH] [nvarchar](30) NOT NULL,
	[SoCCCD] [nchar](20) NOT NULL,
	[DiaChiKH] [nvarchar](50) NOT NULL,
	[SoDT] [varchar](13) NOT NULL,
	[NgayVao] [datetime] NOT NULL,
	[NgayRa] [datetime] NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[IDKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[LoaiPhong]

In [0]:
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 3/12/2024 2:25:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[IDLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](30) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiPhong] PRIMARY KEY CLUSTERED 
(
	[IDLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[NhanVien]

In [0]:
/****** Object:  Table [dbo].[NhanVien]    Script Date: 3/12/2024 2:25:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[IDNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[HoTenNV] [nvarchar](30) NOT NULL,
	[SoCCCD] [nchar](20) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[NgayVaoLam] [date] NOT NULL,
	[ViTriLV] [nvarchar](50) NOT NULL,
	[SoDT] [nchar](13) NOT NULL,
	[Luong] [nchar](10) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[IDNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Phong]

In [0]:
/****** Object:  Table [dbo].[Phong]    Script Date: 3/12/2024 2:25:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[IDPhong] [int] IDENTITY(1,1) NOT NULL,
	[SoPhong] [int] NOT NULL,
	[Loai] [int] NOT NULL,
	[TinhTrang] [nvarchar](255) NULL,
	[GiaTien] [int] NOT NULL,
	[ViTri] [nvarchar](50) NOT NULL,
	[SucChuaToiDa] [int] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[IDPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[TaiKhoan]

In [0]:
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 3/12/2024 2:25:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[IDTK] [int] IDENTITY(1,1) NOT NULL,
	[TenTK] [nvarchar](50) NOT NULL,
	[MatKhau] [nchar](20) NOT NULL,
	[IDNhanVien] [int] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[IDTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CT_HoaDon]

In [0]:
SET IDENTITY_INSERT [dbo].[CT_HoaDon] ON 
INSERT [dbo].[CT_HoaDon] ([IDCT_HD], [IDHoaDon], [IDPhong], [DonGia], [SoLuong]) VALUES (15, 2, 7, N'1.215.000 ', 1)
INSERT [dbo].[CT_HoaDon] ([IDCT_HD], [IDHoaDon], [IDPhong], [DonGia], [SoLuong]) VALUES (17, 4, 8, N'3.630.000 ', 1)
INSERT [dbo].[CT_HoaDon] ([IDCT_HD], [IDHoaDon], [IDPhong], [DonGia], [SoLuong]) VALUES (20, 11, 12, N'6.030.000 ', 1)
INSERT [dbo].[CT_HoaDon] ([IDCT_HD], [IDHoaDon], [IDPhong], [DonGia], [SoLuong]) VALUES (21, 16, 16, N'9.030.000 ', 1)
INSERT [dbo].[CT_HoaDon] ([IDCT_HD], [IDHoaDon], [IDPhong], [DonGia], [SoLuong]) VALUES (24, 17, 19, N'4.515.000 ', 1)
INSERT [dbo].[CT_HoaDon] ([IDCT_HD], [IDHoaDon], [IDPhong], [DonGia], [SoLuong]) VALUES (25, 18, 23, N'4.515.000 ', 1)
SET IDENTITY_INSERT [dbo].[CT_HoaDon] OFF
GO

# [dbo].[HoaDon]

In [0]:
SET IDENTITY_INSERT [dbo].[HoaDon] ON 
INSERT [dbo].[HoaDon] ([IDHoaDon], [IDKhachHang], [IDNhanVien], [GiaTien], [PhuThu], [GiamGia], [ThueVAT], [NgayVao], [NgayRa], [TrangThai], [TongTien], [GhiChu], [SoNguoi]) VALUES (2, 2, 3, 300000, 0, 0, N'5%        ', CAST(N'2024-05-07T00:00:00.000' AS DateTime), CAST(N'2024-05-09T00:00:00.000' AS DateTime), N'Chưa thanh toán', 1215000, N'', 1)
INSERT [dbo].[HoaDon] ([IDHoaDon], [IDKhachHang], [IDNhanVien], [GiaTien], [PhuThu], [GiamGia], [ThueVAT], [NgayVao], [NgayRa], [TrangThai], [TongTien], [GhiChu], [SoNguoi]) VALUES (4, 3, 5, 600000, 0, 0, N'5%        ', CAST(N'2024-07-09T00:00:00.000' AS DateTime), CAST(N'2024-07-15T00:00:00.000' AS DateTime), N'Chưa thanh toán', 3630000, N'', 2)
INSERT [dbo].[HoaDon] ([IDHoaDon], [IDKhachHang], [IDNhanVien], [GiaTien], [PhuThu], [GiamGia], [ThueVAT], [NgayVao], [NgayRa], [TrangThai], [TongTien], [GhiChu], [SoNguoi]) VALUES (11, 4, 7, 600000, 0, 0, N'5%        ', CAST(N'2024-07-24T00:00:00.000' AS DateTime), CAST(N'2024-07-24T00:00:00.000' AS DateTime), N'Chưa thanh toán', 6030000, N'', 3)
INSERT [dbo].[HoaDon] ([IDHoaDon], [IDKhachHang], [IDNhanVien], [GiaTien], [PhuThu], [GiamGia], [ThueVAT], [NgayVao], [NgayRa], [TrangThai], [TongTien], [GhiChu], [SoNguoi]) VALUES (16, 25, 5, 600000, 0, 0, N'5%        ', CAST(N'2024-11-01T00:00:00.000' AS DateTime), CAST(N'2024-11-15T00:00:00.000' AS DateTime), N'Chưa thanh toán', 9030000, N'', 3)
INSERT [dbo].[HoaDon] ([IDHoaDon], [IDKhachHang], [IDNhanVien], [GiaTien], [PhuThu], [GiamGia], [ThueVAT], [NgayVao], [NgayRa], [TrangThai], [TongTien], [GhiChu], [SoNguoi]) VALUES (17, 26, 5, 300000, 0, 0, N'5%        ', CAST(N'2024-11-05T00:00:00.000' AS DateTime), CAST(N'2024-11-20T00:00:00.000' AS DateTime), N'Chưa thanh toán', 4515000, N'', 1)
INSERT [dbo].[HoaDon] ([IDHoaDon], [IDKhachHang], [IDNhanVien], [GiaTien], [PhuThu], [GiamGia], [ThueVAT], [NgayVao], [NgayRa], [TrangThai], [TongTien], [GhiChu], [SoNguoi]) VALUES (18, 27, 3, 300000, 0, 0, N'5%        ', CAST(N'2024-11-10T00:00:00.000' AS DateTime), CAST(N'2024-11-25T00:00:00.000' AS DateTime), N'Chưa thanh toán', 4515000, N'', 2)
INSERT [dbo].[HoaDon] ([IDHoaDon], [IDKhachHang], [IDNhanVien], [GiaTien], [PhuThu], [GiamGia], [ThueVAT], [NgayVao], [NgayRa], [TrangThai], [TongTien], [GhiChu], [SoNguoi]) VALUES (19, 2, 3, 300000, 0, 0, N'5         ', CAST(N'2024-12-03T01:04:34.133' AS DateTime), CAST(N'2024-12-03T01:04:34.133' AS DateTime), N'Chưa thanh toán', 315000, N'', 2)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO

# [dbo].[KhachHang]

In [0]:
SET IDENTITY_INSERT [dbo].[KhachHang] ON 
INSERT [dbo].[KhachHang] ([IDKhachHang], [HoTenKH], [SoCCCD], [DiaChiKH], [SoDT], [NgayVao], [NgayRa]) VALUES (2, N'Lâm Quốc Thiên', N'02285558858         ', N'Lâm Đồng', N'046764618 ', CAST(N'2024-05-07T00:00:00.000' AS DateTime), CAST(N'2024-05-09T00:00:00.000' AS DateTime))
INSERT [dbo].[KhachHang] ([IDKhachHang], [HoTenKH], [SoCCCD], [DiaChiKH], [SoDT], [NgayVao], [NgayRa]) VALUES (3, N'Nguyễn Văn Báo', N'02145753259         ', N'Ninh Thuận', N'022489625 ', CAST(N'2024-07-09T00:00:00.000' AS DateTime), CAST(N'2024-07-15T00:00:00.000' AS DateTime))
INSERT [dbo].[KhachHang] ([IDKhachHang], [HoTenKH], [SoCCCD], [DiaChiKH], [SoDT], [NgayVao], [NgayRa]) VALUES (4, N'Hà Nhân', N'02256586626         ', N'Nha Trang', N'022589635 ', CAST(N'2024-07-20T00:00:00.000' AS DateTime), CAST(N'2024-07-24T00:00:00.000' AS DateTime))
INSERT [dbo].[KhachHang] ([IDKhachHang], [HoTenKH], [SoCCCD], [DiaChiKH], [SoDT], [NgayVao], [NgayRa]) VALUES (25, N'Lê Minh Tuấn', N'123456789           ', N'Hà Nội', N'0912345678', CAST(N'2024-11-01T00:00:00.000' AS DateTime), CAST(N'2024-11-15T00:00:00.000' AS DateTime))
INSERT [dbo].[KhachHang] ([IDKhachHang], [HoTenKH], [SoCCCD], [DiaChiKH], [SoDT], [NgayVao], [NgayRa]) VALUES (26, N'Trần Thanh Hương', N'987654321           ', N'TP.HCM', N'0987654321', CAST(N'2024-11-05T00:00:00.000' AS DateTime), CAST(N'2024-11-20T00:00:00.000' AS DateTime))
INSERT [dbo].[KhachHang] ([IDKhachHang], [HoTenKH], [SoCCCD], [DiaChiKH], [SoDT], [NgayVao], [NgayRa]) VALUES (27, N'Phạm Thảo Vy', N'456789123           ', N'Đà Nẵng', N'0976543210', CAST(N'2024-11-10T00:00:00.000' AS DateTime), CAST(N'2024-11-25T00:00:00.000' AS DateTime))
INSERT [dbo].[KhachHang] ([IDKhachHang], [HoTenKH], [SoCCCD], [DiaChiKH], [SoDT], [NgayVao], [NgayRa]) VALUES (31, N'Lê Phú Quý', N'221523556894        ', N'Ninh Thu?n', N'0221,566,685', CAST(N'2024-12-03T00:46:28.160' AS DateTime), CAST(N'2024-12-06T00:46:28.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO

# [dbo].[LoaiPhong]

In [0]:
SET IDENTITY_INSERT [dbo].[LoaiPhong] ON 
INSERT [dbo].[LoaiPhong] ([IDLoai], [TenLoai], [GhiChu]) VALUES (1, N'Phòng đơn', N'')
INSERT [dbo].[LoaiPhong] ([IDLoai], [TenLoai], [GhiChu]) VALUES (2, N'Phòng đôi', N'')
SET IDENTITY_INSERT [dbo].[LoaiPhong] OFF
GO

# [dbo].[NhanVien]

In [0]:
SET IDENTITY_INSERT [dbo].[NhanVien] ON 
INSERT [dbo].[NhanVien] ([IDNhanVien], [HoTenNV], [SoCCCD], [DiaChi], [NgaySinh], [NgayVaoLam], [ViTriLV], [SoDT], [Luong]) VALUES (3, N'Bạch Cốt Tinh', N'01054741475         ', N' P8, Thành phố Đà Lạt-Lâm Đồng', CAST(N'2004-04-05' AS Date), CAST(N'2021-02-02' AS Date), N'Nhân viên', N'0842153967   ', N'4.000.000 ')
INSERT [dbo].[NhanVien] ([IDNhanVien], [HoTenNV], [SoCCCD], [DiaChi], [NgaySinh], [NgayVaoLam], [ViTriLV], [SoDT], [Luong]) VALUES (5, N'Tôn Ngộ Không', N'02325521455         ', N' P7, Thành phố Đà Lạt-Lâm Đồng', CAST(N'1999-04-07' AS Date), CAST(N'2003-02-20' AS Date), N'Quản Lý', N'0125778965   ', N'7.000.000 ')
INSERT [dbo].[NhanVien] ([IDNhanVien], [HoTenNV], [SoCCCD], [DiaChi], [NgaySinh], [NgayVaoLam], [ViTriLV], [SoDT], [Luong]) VALUES (7, N'Lê Văn Nam', N'236589525617        ', N'P9, Thành phố Đà Lạt-Lâm Đồng', CAST(N'1997-06-12' AS Date), CAST(N'2024-11-11' AS Date), N'Nhân viên', N'0225025489   ', N'4.000.000 ')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO

# [dbo].[Phong]

In [0]:
SET IDENTITY_INSERT [dbo].[Phong] ON 
INSERT [dbo].[Phong] ([IDPhong], [SoPhong], [Loai], [TinhTrang], [GiaTien], [ViTri], [SucChuaToiDa], [GhiChu]) VALUES (3, 101, 1, N'Trống', 300000, N'Lầu 1', 2, N'')
INSERT [dbo].[Phong] ([IDPhong], [SoPhong], [Loai], [TinhTrang], [GiaTien], [ViTri], [SucChuaToiDa], [GhiChu]) VALUES (5, 102, 1, N'Đang sửa chữa', 300000, N'Lầu 1', 2, N'')
INSERT [dbo].[Phong] ([IDPhong], [SoPhong], [Loai], [TinhTrang], [GiaTien], [ViTri], [SucChuaToiDa], [GhiChu]) VALUES (7, 103, 1, N'Chưa dọn dẹp', 300000, N'Lầu 1', 2, N'')
INSERT [dbo].[Phong] ([IDPhong], [SoPhong], [Loai], [TinhTrang], [GiaTien], [ViTri], [SucChuaToiDa], [GhiChu]) VALUES (8, 104, 1, N'Đang thuê', 300000, N'Lầu 1', 2, N'')
INSERT [dbo].[Phong] ([IDPhong], [SoPhong], [Loai], [TinhTrang], [GiaTien], [ViTri], [SucChuaToiDa], [GhiChu]) VALUES (9, 105, 1, N'Chưa dọn dẹp', 300000, N'Lầu 1', 2, N'')
INSERT [dbo].[Phong] ([IDPhong], [SoPhong], [Loai], [TinhTrang], [GiaTien], [ViTri], [SucChuaToiDa], [GhiChu]) VALUES (10, 106, 1, N'Trống', 300000, N'Lầu 1', 2, N'')
INSERT [dbo].[Phong] ([IDPhong], [SoPhong], [Loai], [TinhTrang], [GiaTien], [ViTri], [SucChuaToiDa], [GhiChu]) VALUES (11, 201, 2, N'Trống', 600000, N'Lầu 2', 3, N'')
INSERT [dbo].[Phong] ([IDPhong], [SoPhong], [Loai], [TinhTrang], [GiaTien], [ViTri], [SucChuaToiDa], [GhiChu]) VALUES (12, 202, 2, N'Đang thuê', 600000, N'Lầu 2', 3, N'')
INSERT [dbo].[Phong] ([IDPhong], [SoPhong], [Loai], [TinhTrang], [GiaTien], [ViTri], [SucChuaToiDa], [GhiChu]) VALUES (13, 203, 2, N'Trống', 600000, N'Lầu 2', 3, N'')
INSERT [dbo].[Phong] ([IDPhong], [SoPhong], [Loai], [TinhTrang], [GiaTien], [ViTri], [SucChuaToiDa], [GhiChu]) VALUES (16, 204, 2, N'Đang thuê', 600000, N'Lầu 2', 3, N'')
INSERT [dbo].[Phong] ([IDPhong], [SoPhong], [Loai], [TinhTrang], [GiaTien], [ViTri], [SucChuaToiDa], [GhiChu]) VALUES (17, 205, 2, N'Chưa dọn dẹp', 600000, N'Lầu 2', 3, N'')
INSERT [dbo].[Phong] ([IDPhong], [SoPhong], [Loai], [TinhTrang], [GiaTien], [ViTri], [SucChuaToiDa], [GhiChu]) VALUES (19, 107, 1, N'Đang thuê', 300000, N'Lầu 1', 2, N'')
INSERT [dbo].[Phong] ([IDPhong], [SoPhong], [Loai], [TinhTrang], [GiaTien], [ViTri], [SucChuaToiDa], [GhiChu]) VALUES (20, 108, 1, N'Trống', 300000, N'Lầu 1', 2, N'')
INSERT [dbo].[Phong] ([IDPhong], [SoPhong], [Loai], [TinhTrang], [GiaTien], [ViTri], [SucChuaToiDa], [GhiChu]) VALUES (21, 206, 2, N'Trống', 600000, N'Lầu 2', 3, N'')
INSERT [dbo].[Phong] ([IDPhong], [SoPhong], [Loai], [TinhTrang], [GiaTien], [ViTri], [SucChuaToiDa], [GhiChu]) VALUES (23, 207, 2, N'Đang thuê', 600000, N'Lầu 2', 3, N'')
INSERT [dbo].[Phong] ([IDPhong], [SoPhong], [Loai], [TinhTrang], [GiaTien], [ViTri], [SucChuaToiDa], [GhiChu]) VALUES (24, 208, 2, N'Trống', 600000, N'Lầu 2', 3, N'')
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO

# [dbo].[TaiKhoan]

In [0]:
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 
INSERT [dbo].[TaiKhoan] ([IDTK], [TenTK], [MatKhau], [IDNhanVien], [Email]) VALUES (2, N'Win', N'123                 ', 3, N'phong.com')
INSERT [dbo].[TaiKhoan] ([IDTK], [TenTK], [MatKhau], [IDNhanVien], [Email]) VALUES (3, N'Lose', N'321                 ', 5, N'loc.com')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO

# [UQ_soCCCD]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_soCCCD]    Script Date: 3/12/2024 2:25:05 AM ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [UQ_soCCCD] UNIQUE NONCLUSTERED 
(
	[SoCCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [FK_CT_HoaDon_HoaDon]

In [0]:
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CT_HoaDon_HoaDon] FOREIGN KEY([IDHoaDon])
REFERENCES [dbo].[HoaDon] ([IDHoaDon])
GO
ALTER TABLE [dbo].[CT_HoaDon] CHECK CONSTRAINT [FK_CT_HoaDon_HoaDon]
GO

# [FK_CT_HoaDon_Phong]

In [0]:
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CT_HoaDon_Phong] FOREIGN KEY([IDPhong])
REFERENCES [dbo].[Phong] ([IDPhong])
GO
ALTER TABLE [dbo].[CT_HoaDon] CHECK CONSTRAINT [FK_CT_HoaDon_Phong]
GO

# [FK_HoaDon_KhachHang]

In [0]:
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KhachHang] ([IDKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO

# [FK_HoaDon_NhanVien]

In [0]:
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[NhanVien] ([IDNhanVien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO

# [FK_Phong_LoaiPhong]

In [0]:
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_LoaiPhong] FOREIGN KEY([Loai])
REFERENCES [dbo].[LoaiPhong] ([IDLoai])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_LoaiPhong]
GO

# [FK_TaiKhoan_NhanVien]

In [0]:
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[NhanVien] ([IDNhanVien])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO